
h1 {
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-size: 60px;
	color: #222;
	margin-top: 100px;
	margin-bottom: 50px;
}

h2 {
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-size: 36px;
	color: #222;
}

h3	{
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-size: 28px;
	color: #222;
}

h4 {	
	font-family: 'Open Sans', Helvetica, sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	color: #999;
}


body {
	font-family: Georgia, Times, 'Times New Roman', serif;
	font-size: 16px;
	color: #222;
	line-height: 1.8em;
}

.title {
	font-family: Georgia, Times, Serif;
	font-size: 20px;
	color: #999;
	margin: 0 auto;
	text-align: center;
}

.caption {
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.4em;
	color: #666;
	margin-bottom: 75px;
}

.container {
	width: 775px;
	margin: 0 auto;
}

.containerGray {
	background-color: #f6f6f6;
	border-style: 0px;
    border-left: 10px solid #e3e3e3;
	font-family: Georgia, Times, 'Times New Roman', serif;
	font-size: 20px;
	font-style: italic;
	color: #222;
	line-height: 1.8em;
	width: 900px;
	padding: 30px;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
}


.large_image {
	display: block;
	border: 1px solid #ccc;
	margin: 0 auto;
	margin-top: 25px;
	width: 975px;
}

.toc_container {
	margin-bottom: 70px;
	margin-top: 70px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 50px;
}

.toc {
	font-family: Georgia, Times, 'Times New Roman', serif;
	font-size: 20px;
	color: #999;
	line-height: 1.5em;
}

.tocfirst {
	font-family: Georgia, Times, 'Times New Roman', serif;
	font-size: 20px;
	color: #222;
	line-height: 2.0em;
}

.tocsecond {
	font-family: Georgia, Times, 'Times New Roman', serif;
	font-size: 16px;
	color: #666;
}

.container_image_inline {
	float: right;
	width: 375px;
	padding-left: 30px;
	padding-bottom: 20px;
}

.image_inline {
	float: right;
}

.caption_inline {
	float: right;
	display: inline-block;
}

